<!doctype html>
<!--директива ng-app обозначает какой участок когда будет обрабатывать ангуляр-->
<html ng-app>
<head>
    <meta charset="utf-8">
    <!--подключаем ангуляр-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <!--подключаем скрипт todo.js-->
    <script src="todo.js"></script>
    <!--Подключаем .css-->
    <link rel="stylesheet" href="todo.css">
</head>
<body>
    <h2>Список локаций</h2>
    <!--Создаем контейнер где будут прописаны все зависимости ангуляра. Управление элементами внутри контейнера
    будет осуществляться с помощью класа TodoCtrl прописанного  todo.js-->
    <div ng-controller = "TodoCtrl">
        <!--Создаем элемент <span>, который отобразит колличество построенных локаций из всего запланированных-->
        <span>Осталось {{remaining}} из {{todos.length}}</span> <!--{{ }} такая конструкция указывает на место связывания
         данных в HTML. Данные здесь будут автоматически меняться при изменении свайства remaining или todos.length -->
        <!--Вместо обработчикв событий определяется метод контролера который будет вызван -->
        [ <a href="" ng-click="archive()">архив</a> ]
        <ul class="unstyled">
        <!--Использовать ng-repeat если нужно отобразить список. Здесь для каждого элемента todos, англуляр создаст копию
        элемента <li>. Когда объекты будут добавлены в набор todos ng-repeat автоматически добавит новые элементы
        <li> в ДОМ. Точно так же, при удалении объектов из todos соответсвующие элементы <li> удалятся. Это одна из
        наиболее универсальных директив Ангуляра-->
            <li ng-repeat="todo in todos">
                <!--ng-model Связывает форму с моделью. Это значит, что любые изменения в форме обновят данные модели
                а при изменении модели обновятся элменты формы. Ангуляр автоматически копирует состояние чекбокса в
                todo.done. И наоборот, если обновится todo.done чекбокс изменится соотвествующим образом-->
                <input type="checkbox" ng-model="todo.done">
                <!--Чтобы показать зачеркивание мы создали CSS-класс done-true. Когда todo.done становтся true, то
                CSS-селектор становится done-true и к нему затем применяется зачеркивание-->
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        <!--Перехватываем события отправки формы и вместо этого вызываем addTodo(). В этом методе мы читаем свойство
        todoText и помещаем его в набор todos-->
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30"
               placeholder="впишите новую локацию">
            <input class="btn-primary" type="submit" value="добавить">
        </form>
    </div>
</body>
</html>